@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--main-background: linear-gradient(
		90deg,
		rgb(239, 239, 219),
		rgb(243, 243, 240) 50%
	);
	--main-color: #091952;
	--second-color: #feca13;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
